
body{

	margin: auto;
    padding: 0;
	font-family: helvetica;
} 

#callout1, #callout2, #callout3 {
    width: 320px;
    height: 125px;
    float: left;
    background-color: #595959 ;
    text-align: center;
    }

#displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
} 
	
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	
	width:100%;
}

#footer {
    clear: both;
    text-align: center;
    }

li {
    float: right;
	
}

#realcontent {
  width: 560px;
  float: left;
  line-height: 28px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;

}

#emptybar {
  float: left;
  width: 350px;
  border: 2px darkgray;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

h1 a{
text-decoration: none;
color:red;
}

#wrapper {
   width: 965px;
   margin-left: auto;
   margin-right: auto;
   border: 1px clear;
   background-color: #cccccc;
	    }

#banner {
  clear: both;
  background-color: white;
  height: 450px;
  line-height: 375px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url('../Final-Project/backgroundhome.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
		}
h1 {
  text-align: center;
  text-shadow: 1px 1px #a6a6a6;
  }

h2 {
  text-align: center;
  text-shadow: 1px 1px #ffffff
}
 
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;

