
body{

	margin: 0;
    padding: 0;
	font-family: helvetica;
}

#callout1, #callout2, #callout3 {
    width: 320px;
    float: left;
    background-color: #595959 ;
    text-align: center;
    }

    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	
	width:100%;
}

#footer {
    clear: both;
    }

li {
    float: right;
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

h1 a{
text-decoration: none;
color:red;
}

#wrapper {
   width: 965px;
   margin-left: auto;
   margin-right: auto;
   border: 1px clear;
   

	    }

#banner {
  clear: both;
  background-color: white;
  height: 450px;
  line-height: 375px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url('../Final-Project/backgroundhome.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
		}
h1 {
  text-align: center;
  text-shadow: 1px 1px #a6a6a6;
  }

h2 {
  text-align: center;
  } 
